.app.dark {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #108010;
  --secondary-color: #53b653;
  --inverted-primary-color: #1338a5;
  --inverted-secondary-color: #6596ff;
}
