.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;

  --primary-color: #1338a5;
  --secondary-color: #6596ff;
  --inverted-primary-color: #108010;
  --inverted-secondary-color: #65df65;
}
